.background-yellow {
  background: rgb(247, 247, 164);
}

.background-orange {
  background: rgb(236, 188, 98);
}

.background-blue {
  background: rgb(171, 171, 228);
}

.background-green {
  background: rgb(64, 196, 64);
}